* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #2E2E2E;
}

.center {
  width: 940px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
 justify-content: space-between;
}



.logo p {
  font-size: 32px;
line-height: 22px;
padding-bottom: 17px;
padding-left: 13px;
}

.logo {
  height: 78px; 
}

.facebook {
  margin-right: 21px;
  }

  .first {
    height: 421px;
    background: #FAC960;
  }

.first_center {
  display: flex;
  height: 421px;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #8A6D2F;
  font-size: 44px;
line-height: 54px;
text-align: center;
}

#email {
  box-sizing: border-box;
  width: 560px;
  height: 54px;
  background: #FFFFFF;
border-radius: 2px 0px 0px 2px;
border: 0;
color: #999999;
font-size: 30px;
line-height: 54px;
padding-left: 36px;
margin-top: 40px;
}

#btn {
  width: 240px;
  height: 54px;
  background: #A8863D;
border-radius: 0px 2px 2px 0px;
border: 0;
font-size: 30px;
line-height: 54px;
text-align: center;
color: #FFFFFF;
}

.second {
  height: 438px;
  background: #F2F2F2;
}

.second_center {
  display: flex;
  flex-direction: column;
  align-items: center;
 padding-top: 77px; 
}

h3 {
  font-size: 37px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.56);
  text-align: center;

}

.text {
  font-size: 23px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.second_center p {
  width: 810px;
padding-top: 32px;
padding-bottom: 56px;
}

.third_center {
  height: 610px;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 76px;
}

.third_center p {
  padding-top: 32px;
  padding-bottom: 38px;
  }

.forth {
  height: 313px;
  background: #FAC960;
}

.forth_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
}
#fortext {
  height: 22px;
  width: 61px;
background: #FFFFFF;
border: 1px solid #758696;
border-radius: 3px;
text-align: center;
}

.forth_center p {
  margin-top: 31px;
  margin-bottom: 33px;
}

footer {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#book {
  padding: 0 22px;
}

#footer_logo {
  margin-top: 81px;
  margin-bottom: 24px;
}